.indexcontainer{
    margin-top:30px;
}

.indexcontainer .header{
    margin-bottom: 13px;
}

.record{
    border-bottom:1px solid gray;
    line-height:30px;
    padding:5px;
    font-size:14px;
}

.error{
    background:#f3bdbd;
}


