.record {
    border-bottom: 1px solid gray;
    margin-bottom: 8px;
    line-height: 23px;
    padding: 5px;
}

    .record:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }

.indexcontainer {
    margin-top: 45px;
}

    .indexcontainer .date {
        font-size: 12px;
    }

.newflag img {
    height: 25px;
    vertical-align: middle;
    margin-bottom: 3px;
    display: inline-block;
}
